/* Foundation and its settings */
@import "normalize";
@import "settings";
@import "foundation";

/* Styles for the menu and other global bits */
@import "global";

/* On large screens, add some margin to the front-page image */
@media only screen and (min-width: 768px) {
  .front_image {
    margin-left: 10%;
    width: 80%;
  }
}

#papers #main-content {
  ul {
    list-style-type: decimal;

    margin-left: 4em;
  }
}
