/* Foundation and its settings */
@import "normalize";
@import "settings";
@import "foundation";

/* Styles for the menu and other global bits */
@import "global";

#home #main-content {  
  /* On large screens, add some margin to the front-page image */
  @media only screen and (min-width: 768px) {
    .front_image {
      margin-left: 10%;
      width: 80%;
    }
  }
}

#about #main-content {
  p {
    margin-left: 3em;
  }
}

#papers #main-content {
  p:first-child {
    text-align: center;
  }
  
  ul {
    list-style-type: decimal;

    margin-left: 4em;
  }
}

#people #main-content {
  & > ol { list-style-type: none; }
  & > ol > li { @include grid-row; }
  
  & > ol li dl dt { 
    @include grid-column(3);
    margin-bottom: 3em;
  
    img { width: 90%; }
  }
  
  & > ol li dl dd { 
    @include grid-column(9);
    margin-bottom: 3em;
    
    font-size: 90%;

    p {
      margin-bottom: 0.2em;
    }
    
    ul {
      list-style-type: decimal;
      margin-left: 3em;
    }
  }
}

#research #main-content {
  p:first-child {
    text-align: center;
    margin-left: 0;
  }
  
  p {
    margin-left: 2em;
  }
  
  h2 {
    margin-left: 3em;
  }
  
  ul {
    list-style-type: none;
    margin-left: 7em;
    text-indent: -1.5em;
    
    font-size: 95%;
  }
}

#teaching #main-content, #news #main-content {
  h2 {
    margin-left: 2em;
  }
  
  ul {
    list-style-type: none;
    margin-left: 5em;
    text-indent: -1.5em;
  }  
}
