%header
  %h1
    The Ramsey
    %em Philosophy of Biology
    Lab
  %h2
    at the Department of Philosophy & the Program in History
    %br<>
    and Philosophy of Science at the University of Notre Dame
